<section class="main-video">
    <iframe
      class="video"
    width="860"
    height="415"
    src="https://www.youtube.com/embed/YOUTUBE_VIDEO_ID"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen>
  </iframe>
</section>

<section class="main-cards">
  <!-- Cartão 1: Fontes de Energia Renovável -->
  <div class="card" style="width: 20rem;">
    <img src="../../../assets/card1.jpg" class="card-img-top" alt="Fontes de energia renovável">
    <div class="card-body">
      <h5 class="card-title">Energia Renovável</h5>
      <p class="card-text">
        Descubra as melhores fontes de energia renovável na sua região, com base no endereço e no tipo de imóvel.
      </p>
      <a href="#" class="btn btn-primary">Saiba Mais</a>
    </div>
  </div>

  <!-- Cartão 2: Produtos para Reduzir Desperdício de Energia -->
  <div class="card" style="width: 20rem;">
    <img src="../../../assets/card2.jpg" class="card-img-top" alt="Produtos para reduzir desperdício de energia">
    <div class="card-body">
      <h5 class="card-title">Reduzir Desperdício</h5>
      <p class="card-text">
        Encontre os melhores produtos para reduzir o desperdício de energia em sua casa ou empresa.
      </p>
      <a href="#" class="btn btn-primary ">Saiba Mais</a>
    </div>
  </div>
</section>
