<section class="form-introduction">
  <h2>Com uma pesquisa rápida,<br> vamos ver qual produto seria melhor para você!</h2>
  <img class="form-img" src="../../../assets/img-solar.jpg" alt="Solar Energy">
  <form>
    <label for="form-label-name" class="form-label">Nome Completo</label>
    <input class="form-control" id="form-label-name" placeholder="Mohamed Adel Emara">

    <label for="form-label-email" class="form-label">Endereço Com Número</label>
    <input type="text" class="form-control" id="form-label-email" placeholder="Rua Luiz Carlos, 86">

    <label for="form-label-cidade" class="form-label">Cidade</label>
    <input class="form-control" id="form-label-cidade" placeholder="São Paulo">

    <label for="form-label-estado" class="form-label">Estado</label>
    <input class="form-control" id="form-label-estado" placeholder="SP">

    <label for="form-label-cep" class="form-label">CEP</label>
    <input class="form-control" id="form-label-cep" placeholder="05734080">

    <button type="submit" class="btn btn-primary">CONFIRMAR</button>
  </form>
</section>
