

.form-introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 2rem auto;
  color: white;
  font-size: 1.5rem; /* Adjust font size for readability */
}

h2{
  padding: 3rem;
  border-radius: 1rem;
  background-color: rgba(0, 0, 0, 0.51);
}

.form-img {
  width: 50%; /* Ensure the image takes up 50% of the container */
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin: 4rem 0;
}

.form-img:hover {
  transform: scale(1.02);
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
}

.form-control {
  width: 600px; /* Make inputs fill the form's width */
  margin-bottom: 1rem; /* Add spacing between inputs */
  padding: 0.8rem; /* Adjust padding for better usability */
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  background-color: white;
}

::placeholder {
  color: #9a9a9a;
}

label {
  display: flex;
  align-items: start;
  justify-content: flex-start;
  width: 100%;
  color: #ffffff;
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 0.8rem;
}

.btn {
  width: 100%; /* Button spans the full width of the form */
  padding: 0.8rem;
  background-color: #2e537d;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-top: 1rem;
}

.btn:hover {
  background-color: darkgreen;
}

@media (max-width: 768px) {
  .form-img {
    width: 80%; /* Adjust image size on smaller screens */
  }
  .form {
    width: 90%; /* Ensure the form is responsive */
  }
}
